<ul class="list-group list-group-flush">
  {{#each order.OrderDetails}}
    <li class="list-group-item mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <a class="pr-3 w-25" href="/foods/{{this.Food.id}}">{{this.Food.name}}</a>
        <div class="pr-3">
          <span class="d-block">Quantity:{{this.quantity}}</span>
          <span class="d-block">Price: NT.{{this.Food.price}}</span>
        </div>
      </div>
    </li>
  {{/each}}
</ul>

<div class="card-footer">
  <p class="mb-0">Total: NT.{{total}}</p>
  <div class=" mb-3">
    <p class="badge bg-danger mt-3" id="note" name="note" rows="3">Note:</p>
    <p class="fs-5" id="note" name="note" rows="3">{{order.note}}</p>
    {{#if order.isDone}}
      <h5 class="text-danger">Status：Done</h2>
    {{else}}
      <h5 class="text-danger">Status：Processing</h2>
    {{/if}}
  </div>
  <div class="d-flex justify-content-between align-items-center">
    {{#if order.isDone}}
      <form action="/admin/orders/{{order.id}}?_method=PATCH" method="POST" style="display: inline;">
        <input type="hidden" name="isAdmin" value="false" />
        <button type="submit" class="btn btn-success">Done</button>
      </form>
    {{else}}
      <form action="/admin/orders/{{order.id}}?_method=PATCH" method="POST" style="display: inline;">
        <input type="hidden" name="isAdmin" value="true" />
        <button type="submit" class="btn btn-info">Processing</button>
      </form>
    {{/if}}
    <a class="btn btn-outline-secondary ml-auto" href="/admin/orders">Back</a>
  </div>
</div>