<div class="container">
  <div class="row">
    <div class="col-md-4 p-4 overflow-auto" style="max-height: 580px;">
      <form action="/orders" method="POST">
        {{#if order}}
          {{#each order.OrderDetails}}
            <div class="card text-white bg-primary mb-3">
              <div class="card-body pt-3 pr-3">
                <div class="text-end">
                  <i class="fa-solid fa-x fa-lg delete-icon" onclick="deleteOrderDetail({{this.id}}, this)"></i>
                </div>
                <h4 class="card-title"><strong>{{this.Food.name}}</strong></h5>
                <div class="card-text pr-3">
                  <span class="d-block">
                    Quantity:
                    <span class="mx-2 quantity"><strong>{{this.quantity}}</strong></span>
                  </span>
                  <span class="d-block my-2">
                    Price: NT.
                    <span class="mx-2 price"><strong>{{this.Food.price}}</strong></span>
                  </span>
                </div>
              </div>
            </div>
          {{/each}}
          <p class="mb-0">Total:NT.
            <strong class="mx-2 total">{{total}}</strong>
          </p>
          <div class="form-row mb-3">
            <label class="form-label" for="note">Note</label>
            <textarea class="form-control" id="note" name="note" rows="3">{{order.note}}</textarea>
          </div>
        {{/if}}
        <div class="text-right">
          <button class="btn btn-light" style="min-width:120px;" type="submit">Checkout</button>
        </div>
      </form>
    </div>
    

    <div class="col-md-8 p-4 overflow-auto" style="max-height: 580px;">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">All Items</a>
        </li>
        {{#each categories}}
        <li class="nav-item">
          <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
            href="?categoryId={{this.id}}">{{this.name}}</a>
        </li>
        {{/each}}
      </ul>
      <div class="row mt-3">
        {{#each foods}}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            {{#ifCond this.inventory 0}}
            <div class="d-flex align-items-center justify-content-center" style="height: 180px;">
                <span><strong class="text-danger fs-5">Sold Out</strong></span>
            </div>
            {{else}}
              <a href="/foods/{{this.id}}">
                <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap" width="286px" height="180px"
                  style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
              </a>
            {{/ifCond}}
            <div class="card-body">
              <p class="card-text">
                {{#ifCond this.inventory 0}}
                <a href="#" class="text-secondary text-decoration-none">
                  {{this.name}}
                </a>
                {{else}}
                <a href="/foods/{{this.id}}" class="text-decoration-none">
                  {{this.name}}
                </a>
                {{/ifCond}}
              </p>
              <p class="card-text text-truncate">NT. {{this.price}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script>
  function deleteOrderDetail(id, element) {
      axios.delete(`/orderDetails/${id}`)
        .then(() => {
          const icon = element;
          const card = icon.closest('.card');
          let totalElement = document.querySelector('.total');
          let total = parseFloat(totalElement.textContent.trim());
          const quantity = parseFloat(card.querySelector('.quantity').textContent.trim());
          const price = parseFloat(card.querySelector('.price').textContent.trim());

          const itemTotal = quantity * price;
          total -= itemTotal;
          totalElement.textContent = total.toFixed(2);
          card.remove();
          console.log("Order detail deleted successfully.");
          reloadPageContent()
        })
        .catch(error => console.error("Error deleting order detail:", error))

    }
  function reloadPageContent() {
      axios.get('/foods')
        .then(response => {
          const container = document.querySelector('.container');
          container.innerHTML = response.data;
          console.log("Page content reloaded successfully.");
        })
        .catch(error => console.error("Error reloading page content:", error));
    }
</script>